<div class="container margin-header">
	<div class="row"><h2>Your Cart</h2></div>
	<div class="row">
		<div class="col-8">
			<div class="cart-item-container">
				<span class="ss-delete btn-delete"></span>
				<div class="cart-item-image">
					<div class="cart-image-product" style="background:url('./assets/images/products/1.jpg')"></div>
				</div>

				<div class="cart-item-content-description">
					<h3 class="">TSHIRT</h3>
					<div class="cart-item-price">
						<span class="pull-left">1 pcs</span>	
						<span class="pull-right item-price">Rp 180.000,-</span>
					</div>
				</div>
			</div>

			<div class="cart-item-container">
				<span class="ss-delete btn-delete"></span>
				<div class="cart-item-image">
					<div class="cart-image-product" style="background:url('./assets/images/products/1.jpg')"></div>
				</div>

				<div class="cart-item-content-description">
					<h3 class="">TSHIRT</h3>
					<div class="cart-item-price">
						<span class="pull-left">1 pcs</span>	
						<span class="pull-right item-price">Rp 180.000,-</span>
					</div>
				</div>
			</div>

			<div class="cart-item-container">
				<span class="ss-delete btn-delete"></span>
				<div class="cart-item-image">
					<div class="cart-image-product" style="background:url('./assets/images/products/1.jpg')"></div>
				</div>

				<div class="cart-item-content-description">
					<h3 class="">TSHIRT</h3>
					<div class="cart-item-price">
						<span class="pull-left">1 pcs</span>	
						<span class="pull-right item-price">Rp 180.000,-</span>
					</div>
				</div>
			</div>

			<div class="cart-item-footer pull-left">
				<span class="pull-left"><h2>Total</h2></span>
				<span class="pull-right"><h2>Rp 300.000,-</h2></span>
			</div>
		</div>
	</div>
</div>