<section>
	<div class="row row-table container-fluid main-banner" style="background:url('./assets/images/wallpaper.jpg')">
		<div class="col-12 col-middle text-center">
			<img src="./assets/images/logo-sale.png" class="block img-center" alt="">
			<span class="main-banner-header block">Excellent Price</span>
			<span class="main-banner-desc block">Dapatkan harga spesial untuk setiap produknya</span>
		</div>
	</div>
</section>

<section>
	<div class="row container clear-padding__10" ng-controller="indexController as ic">

		<div class="col-4 col-md-6 col-sm-12 product-index" ng-repeat="product in ic.productHome">
			<div class="product-index-wrapper">
				<div class="product-index-image" style="background:url('{{product.image}}')"></div>
			
				<section class="content">
					<div class="product-index-title block margin-bottom--little">{{product.name}}</div>
					<ul class="product-index-size block margin-bottom--little">
						<li ng-repeat="size in product.size">{{size}}</li>
						<!-- <li>S</li>
						<li>M</li>
						<li>L</li> -->
					</ul>
					<hr class="block">
					<div class="block index-button-wrapper">
						<span class="pull-left full-height">Rp {{product.price}}</span>
						<button class="pull-right product-index-button btnBuy" id="btnBuy" data-product_id="{{product.cid}}" btn-buy ng-click="doBuy(product.cid)">Buy It</button>
					</div>
				</section>
			</div>
		</div>

		
		<!-- <div class="col-4 product-index">
			<div class="product-index-wrapper">
				<div class="product-index-image" style="background:url('./assets/images/products/1.jpg')"></div>
			
				<section class="content">
					<div class="product-index-title block margin-bottom--little">TShirt</div>
					<ul class="product-index-size block margin-bottom--little">
						<li>S</li>
						<li>M</li>
						<li>L</li>
					</ul>
					<hr class="block">
					<div class="block index-button-wrapper">
						<span class="pull-left full-height">Rp 175.000</span>
						<button class="pull-right product-index-button">Buy It</button>
					</div>
				</section>
			</div>
		</div>
		<div class="col-4 product-index">
			<div class="product-index-wrapper">
				<div class="product-index-image" style="background:url('./assets/images/products/1.jpg')"></div>
			
				<section class="content">
					<div class="product-index-title block margin-bottom--little">TShirt</div>
					<ul class="product-index-size block margin-bottom--little">
						<li>S</li>
						<li>M</li>
						<li>L</li>
					</ul>
					<hr class="block">
					<div class="block index-button-wrapper">
						<span class="pull-left full-height">Rp 175.000</span>
						<button class="pull-right product-index-button">Buy It</button>
					</div>
				</section>
			</div>
		</div>
		<div class="col-4 product-index">
			<div class="product-index-wrapper">
				<div class="product-index-image" style="background:url('./assets/images/products/1.jpg')"></div>
			
				<section class="content">
					<div class="product-index-title block margin-bottom--little">TShirt</div>
					<ul class="product-index-size block margin-bottom--little">
						<li>S</li>
						<li>M</li>
						<li>L</li>
					</ul>
					<hr class="block">
					<div class="block index-button-wrapper">
						<span class="pull-left full-height">Rp 175.000</span>
						<button class="pull-right product-index-button">Buy It</button>
					</div>
				</section>
			</div>
		</div> -->
	</div>
</section>